*{
    margin: 0;
    /* padding: 0; */
    box-sizing: border-box;
    /* font-family: ; */
    font-size: calc(2px + 1vw);
    font-family: "Roboto", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

header {
    background-color: #1d67d4;
    color: white;
    /* lets image be aligned correctly with header and subheader */
    display: flex;
    align-items: center;
}

.header-item {
    display: inline-block;
    padding: 0.5%;
}

footer {
    background-color: #1d67d4;
    color: white;
    /* display: flex;    */
    /* align-items: center; */
    text-align: center;
    padding: 1%;
    position: absolute;
    /* https://www.w3schools.com/howto/howto_css_fixed_footer.asp */
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

h1 {
    font-size: calc(2px + 3.5vw);
}

p {
    font-size: calc(2px + 1.25vw);
    padding: 2%;
    width: 100%;
}

img {
    max-width: 10%;
    height: auto;    
    /* align */
}

nav {
    width: 15%;
    height: 100%;
    padding: 0.5%;
}

.hm {
    display: flex;
    width: 100vw;
    flex-direction: row;
}

ul {
    list-style-type: none;
    background-color: #2f4569;
}


li {
    font-size: calc(2px + 2vw);
    padding: 5%;
}


h2 {
    font-size: calc(2px + 1.5vw);
}

#calculator {
    height: 20vh;
}

h1.p {
    font-size: calc(2px + 1.25vw);
    width: 70%;
    /* padding: 2%; */
    /* width: 100%; */
}

#pageContent {
    padding: 2%;
    width: 100%;
    padding-left:5%;
    /* display: flex; */
}


ul li a {
    color: white;
    display: block;
    text-align: left;
    text-decoration: none;
    padding-top: 10%;
    padding-bottom: 10%;
}
/* https://www.w3schools.com/css/css_navbar_horizontal.asp */
ul li a:hover {
    color: #a6a6a6;
}

main {
    width: 70%;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}


button {
    width: 100%;
    border-radius: 10px;
    height: calc(15px + 2vw);
}

/* https://www.w3schools.com/css/css3_mediaqueries_ex.asp */
/* later talked about in lecture... */
@media screen and (max-width: 750px) {
    nav {
        width: 100%;
        height: auto;
    }
    ul {
        display: flex;
    
    }
    ul li {
        float: left;
    }
    .hm {
        display: block;
    }
}

@media screen and (max-width: 1000px){
    main {
        width: 100%;
    }
}